.back-to-top:hover {
	background: url("../pic/go-up.png") ; 
	text-decoration: none;
}
.table > tbody > tr > td, .table > tbody > tr > th, .table > tfoot > tr > td, .table > tfoot > tr > th, .table > thead > tr > td, .table > thead > tr > th {
   padding: 2px 0px 2px 0px;
   vertical-align: middle;
}


.back-to-top {
	height:70px; 
	width: 70px;
	background: url("../pic/go-up.png") ; 
	position: fixed;
 	bottom:70px;
 	right:20px;
 	padding:1em;
 	border-style: none;
	display:inline-block;
	cursor:pointer;
	text-decoration:none;
}

.back-to-bottom:hover {
	background: url("../pic/go-down.png") ; 
	text-decoration: none;
}


.back-to-bottom {
	height:70px; 
	width: 70px;
	background: url("../pic/go-down.png") ; 
	position: fixed;
 	top:60px;
 	right:20px;
 	padding:1em;
 	border-style: none;
	display:inline-block;
	cursor:pointer;
	text-decoration:none;
}
html, body {
   height: 100%;
}
@font-face {
	font-family: 'ubuntu-m';
	src: url('../fonts/Ubuntu-R.ttf')
}
.option {
	padding-top:4px;
	padding-bottom:4px
}
.lyric{ 
	height:24px; 
	width: 24px;
	background: url("../pic/lyrics.png") ; 
	background-size: cover;
}
.lyric:hover { 
	height:24px; 
	width: 24px;
	background: url("../pic/lyrics_over.png") ; 
	background-size: cover; 
}
.member{
	position:relative; 
	background-color: #2B7824; 
	color:white; 
	float:left; 
	margin: 0px 20px 20px 0; 
	padding:12px;
	padding-top: 23px;
	padding-bottom: 23px;
	border-bottom-right-radius:6px;
	border-top-right-radius:6px;
}
.form_member {
	padding: 0;
	margin: 0;
}
.main-content{
	position: relative;
	min-height: 100%;
}
.list {
   padding: 2px 0px 2px 0px;
   border-collapse: collapse;
	border-bottom: 1px solid #d2d2d2;
}	
.list_image {
	padding-right:10px;
   border-collapse: collapse;
	border-bottom: 1px solid #d2d2d2;
}	
.table_head	{
	padding-bottom: 5px;
	padding-top: 5px;				
}
.navfooter{
	padding: 0px 5px 0px 5px;
}
.main{
	margin-left:40px;
}
.textunter span {
	position: absolute;
   color: white;
	left: 2px;
}
.textunter{
	position:relative; 
}
.footer{
	position:absolute;
	background-color:#222; 
	width:100%;
 /*  min-width:500px;*/
	color:white;
	padding:10px 1px 10px 100px;
   bottom: 0;
}
.userButton {
	border-style: none;
	background-color: rgba(43, 120, 36, 0);
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	padding:0 0 0 0;
	text-decoration:none;
}
.userButton:hover {
	color: #D8D8D8;
	text-decoration: none;
}
.userButton:active {
	position:relative;
}

/*
a.mem:link {
   background-color: #428BCA;
   color:            white;
}

a.mem:visited {
   background-color: #428BCA;
   color:            white;
}

a.mem:hover {
   background-color: white;
   color:            #428BCA;
}

a.mem:active {
   background-color: #428BCA;
   color:            grey;
}*/